In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("donations.csv")
df.head()

,donationid,projectid,donor_acctid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,donation_optional_support,...,dollar_amount,donation_included_optional_support,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,via_giving_page,for_honoree,donation_message
0,431d720bc3dfd75ae445a5eaa0b0638d,ffffac55ee02a49d1abc87ba6fc61135,22cbc920c9b5fa08dfb331422f5926b5,Peachtree City,GA,30269.0,f,2011-08-25 14:27:34.807,42.50,7.50,...,10_to_100,t,no_cash_received,f,t,f,f,f,f,I gave to this project because I support the e...
1,fcfedba1c8a0ba77d280cace80a909f6,ffffac55ee02a49d1abc87ba6fc61135,521f1830a77c9dbbf8119d99c6206a16,NaN,GA,NaN,f,2011-11-04 07:54:21.552,26.83,4.73,...,10_to_100,t,creditcard,f,t,f,f,f,f,I donated because I want to support kids in Ge...
2,3fa95d29986aa6f401c6719ced3a3ce7,ffffac55ee02a49d1abc87ba6fc61135,1e0a63fc8141c7ba26b8b44ca0871b90,Rockville,MD,20853.0,f,2011-11-02 22:53:53.019,55.35,0.00,...,10_to_100,f,no_cash_received,t,f,f,f,t,f,The Spark's 'pet' projects include those which...
3,020ad6bd5e88a35741d23b5e08f8b8e8,ffffac55ee02a49d1abc87ba6fc61135,1d4acb508df29d5f1cc6d382969576cb,Salem,IN,47167.0,f,2011-11-03 23:54:01.109,8.50,1.50,...,10_to_100,t,paypal,f,f,f,f,f,f,I gave to this project because Education is im...
4,4b44b03f304d6425ae94446686f93cd6,ffffac55ee02a49d1abc87ba6fc61135,59c3c3cfcccc53ae855f7eee911c478b,anonymous,NaN,0.0,f,2011-11-02 23:21:00.043,20.00,0.00,...,10_to_100,f,no_cash_received,f,f,t,f,t,f,I lent a paw to help the children in this clas...

In [3]:
df.shape

(3097989, 21)

In [4]:
for col in df.columns:
    print(f'{col}:{df[col].unique()}')

donationid:['431d720bc3dfd75ae445a5eaa0b0638d' 'fcfedba1c8a0ba77d280cace80a909f6'
 '3fa95d29986aa6f401c6719ced3a3ce7' ... '6852f37d0f4cb3e3707ac57f07576a3b'
 '014654dc6c8c42d9b95727364c680f64' '1f22e76fa76c2c9e8d90818b7c275845']
projectid:['ffffac55ee02a49d1abc87ba6fc61135' 'ffff97ed93720407d70a2787475932b0'
 'ffff418bb42fad24347527ad96100f81' ... '00002d691c05c51a5fdfbb2baef0ba25'
 '00002bff514104264a6b798356fdd893' '00001ccc0e81598c4bd86bacb94d7acb']
donor_acctid:['22cbc920c9b5fa08dfb331422f5926b5' '521f1830a77c9dbbf8119d99c6206a16'
 '1e0a63fc8141c7ba26b8b44ca0871b90' ... 'b11824d96aa7fcf2892fcf9e0e7476c1'
 '05023fe3b8e11555088a7be84e5d6041' '7ad6abc974dd8b62773f79f6cbed48d5']
donor_city:['Peachtree City' nan 'Rockville' ... 'Townely' 'Balto' 'Parryville']
donor_state:['GA' 'MD' 'IN' nan 'NY' 'TX' 'ID' 'CO' '  ' 'CA' 'SC' 'IL' 'OK' 'MO' 'PA'
 'MA' 'NJ' 'FL' 'MI' 'CT' 'TN' 'WI' 'MN' 'MS' 'DC' 'NC' 'AL' 'WA' 'VA'
 'OR' 'AZ' 'LA' 'OH' 'KY' 'VT' 'KS' 'UT' 'IA' 'NH' 'NV' 'ME' 'HI' 'AR'
 'NM' 'RI' 'MT' 'NE' 'WY' 'AP' 'SD' 'AK' 'DE' 'ND' 'WV' 'AS' 'VI' 'AE'
 'GU' 'PR' 'AA' 'MP' 'HH']
donor_zip:[30269.    nan 20853. ... 44710. 33022. 18244.]
is_teacher_acct:['f' 't']
donation_timestamp:['2011-08-25 14:27:34.807' '2011-11-04 07:54:21.552'
 '2011-11-02 22:53:53.019' ... '2013-05-06 15:12:21.387'
 '2013-05-23 12:19:59.516' '2013-05-06 15:12:22.77']
donation_to_project:[  42.5    26.83   55.35 ... 1351.77  589.96 1265.32]
donation_optional_support:[  7.5    4.73   0.   ... 166.34 238.55 223.29]
donation_total:[  50.     31.56   55.35 ... 1590.32  719.46 1488.61]
dollar_amount:['10_to_100' 'under_10' '100_and_up']
donation_included_optional_support:['t' 'f']
payment_method:['no_cash_received' 'creditcard' 'paypal' 'amazon' 'promo_code_match'
 'check' 'double_your_impact_match' 'almost_home_match']
payment_included_acct_credit:['f' 't']
payment_included_campaign_gift_card:['t' 'f']
payment_included_web_purchased_gift_card:['f' 't']
payment_was_promo_matched:['f' 't']
via_giving_page:['f' 't']
for_honoree:['f' 't']
donation_message:['I gave to this project because I support the efforts of this teacher with each of her students, and her school, Suder Elementary School.'
 'I donated because I want to support kids in Georgia.'
 "The Spark's 'pet' projects include those which support deaf students.  With just a few days left, the Spark's donors fund half of what remains, and challenge others to pull this project through to fruition."
 ... 'I gave to this project because I grew up in Arcadia!'
 'We gave to this project because of the importance of literacy in this day and age (and because of the catchy name!  Our 2nd grade just did an oceans unit!)\r\\nGood luck with your project!'
 'I gave because my students are AWESOME and they would LOVE to PAINT!!!!']

In [5]:
data1 = df[['projectid','donor_city','donor_state','donation_to_project','donation_optional_support','donation_total','donation_message']]

In [6]:
data1.shape

(3097989, 7)

In [7]:
data1.duplicated().sum()

370680

In [8]:
data1 = data1.drop_duplicates()

In [9]:
data1 = data1.drop_duplicates(subset = ['projectid'])

In [10]:
df.columns

Index(['donationid', 'projectid', 'donor_acctid', 'donor_city', 'donor_state',
       'donor_zip', 'is_teacher_acct', 'donation_timestamp',
       'donation_to_project', 'donation_optional_support', 'donation_total',
       'dollar_amount', 'donation_included_optional_support', 'payment_method',
       'payment_included_acct_credit', 'payment_included_campaign_gift_card',
       'payment_included_web_purchased_gift_card', 'payment_was_promo_matched',
       'via_giving_page', 'for_honoree', 'donation_message'],
      dtype='object')

In [11]:
df.shape

(3097989, 21)

In [12]:
df1 = pd.read_csv("essays.csv")
df1.head()

,projectid,teacher_acctid,title,short_description,need_statement,essay
0,ffffc4f85b60efc5b52347df489d0238,c24011b20fc161ed02248e85beb59a90,iMath,It is imperative that teachers bring technolog...,My students need four iPods.,I am a fourth year fifth grade math teacher. T...
1,ffffac55ee02a49d1abc87ba6fc61135,947066d0af47e0566f334566553dd6a6,Recording Rockin' Readers,Can you imagine having to translate everything...,My students need a camcorder.,Can you imagine having to translate everything...
2,ffff97ed93720407d70a2787475932b0,462270f5d5c212162fcab11afa2623cb,Kindergarten In Need of Important Materials!,It takes a special person to donate to a group...,My students need 17 assorted classroom materia...,Hi. I teach a wonderful group of 4-5 year old ...
3,ffff7266778f71242675416e600b94e1,b9a8f14199e0d8109200ece179281f4f,Let's Find Out!,My Kindergarten students come from a variety o...,"My students need 25 copies of Scholastic's ""Le...",My Kindergarten students come from a variety o...
4,ffff418bb42fad24347527ad96100f81,e885fb002a1d0d39aaed9d21a7683549,Whistle While We Work!,"By using the cross curricular games requested,...",My students need grade level appropriate games...,All work and no play makes school a dull place...

In [13]:
df1.shape

(664098, 6)

In [14]:
for col in df1.columns:
    print(f'{col}:{df1[col].unique()[0:1]}')

projectid:['ffffc4f85b60efc5b52347df489d0238']
teacher_acctid:['c24011b20fc161ed02248e85beb59a90']
title:['iMath']
short_description:['It is imperative that teachers bring technology into the classroom, if students are going to be able to survive in the 21st Century. The classroom needs to be ever changing along with the outside world. The iMath project will help students by obtaining classroom subject...']
need_statement:['My students need four iPods.']
essay:["I am a fourth year fifth grade math teacher. The school I teach in is a fifth and sixth grade public school and is a Title One school which means that 95% of our students get free lunch. Presently, I am in the process of completing a Masters degree in Technology in Education through Lesley University. My coursework through Lesley University is allowing me to continue to be a lifelong learner and allow my students to learn in an environment that they can be successful in. Technology has a huge impact on my students' involvement in the classroom. I would like the opportunity to introduce more technology in the classroom, but I need the help of wonderful people like you. \r\\n\r\\nI would like to introduce to my students the program I call iMath. Through the iMath program I would integrate iPods into my math curriculum. It would allow students to practice their math facts, construct projects, create podcasts, listen to tests, and review lessons. iPods would allow my students to learn on their own, with other classmates, or with the entire class. Having iPods in the classroom would not only encourage students to get excited about learning math, it would also make it easier for me to accommodate students who have special needs. This includes having tests read aloud to them or reviewing the day’s lesson played back on the iPod. \r\\n\r\\nStudents continue to struggle with learning their basic facts. As a teacher, I have tried many different ways to help them learn, including using food, manipulatives, and flash cards. I would like to now venture out and try using innovative technology which is what students use every day. Students are used to playing video games and having technology at their finger tips. Unfortunately, I work in a Title One School and don’t have the funds to purchase the desired technology. With your help I could get the technology needed to change my students' minds about how they feel about math. \r\\n\r\\nIt is imperative that teachers bring technology into the classroom, if students are going to be able to survive in the 21st Century. The classroom needs to be ever changing along with the outside world. The iMath project will help students by obtaining classroom subject proficiency through a wide variety of learning methods while using the iPods. According to an Article in iLearn called 21st Century Literacy, “students learn best when they build critical thinking and problem solving skills instead of memorization.” I want to create a 21st century classroom where students learn to become lifelong learners. Your help will help me reach my goals and my students goals."]

In [15]:
data2 = df1

In [16]:
data2.duplicated().sum()

0

In [17]:
data2 = data2.drop_duplicates(subset = ['projectid'])

In [18]:
df2 = pd.read_csv("outcomes.csv")

In [19]:
df2.head()

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [20]:
df2.shape

(619326, 12)

In [21]:
for col in df2.columns:
    print(f'{col}:{df2[col].unique()}')

projectid:['ffffc4f85b60efc5b52347df489d0238' 'ffffac55ee02a49d1abc87ba6fc61135'
 'ffff97ed93720407d70a2787475932b0' ... '00002d691c05c51a5fdfbb2baef0ba25'
 '00002bff514104264a6b798356fdd893' '00001ccc0e81598c4bd86bacb94d7acb']
is_exciting:['f' 't']
at_least_1_teacher_referred_donor:[nan 'f' 't']
fully_funded:['f' 't']
at_least_1_green_donation:[nan 't' 'f']
great_chat:['f' 't']
three_or_more_non_teacher_referred_donors:[nan 't' 'f']
one_non_teacher_referred_donor_giving_100_plus:[nan 'f' 't']
donation_from_thoughtful_donor:[nan 'f' 't']
great_messages_proportion:[ nan  57. 100.  63.   0.  60.  80.  66.  58.  73.  25.  69.  85.  39.
  50.  75.  51.  22.  84.  14.  42.  33.  55.   5.  28.  20.  90.  16.
  88.  83.  17.  54.  45.  81.  40.  56.  44.  46.  62.  31.  64.  59.
  87.  72.   9.  35.  37.  61.  47.  71.  15.  41.  77.  53.  92.  21.
  48.  93.   4.  27.  52.  38.  82.  70.  86.  65.  68.  10.  23.  36.
  18.  11.  98.   7.  30.  12.   8.  43.  78.  89.   6.  91.  26.  76.
  29.   2.  32.  13.  79.   1.  94.  19.  34.  74.  67.  24.  95.   3.
  97.  49.  96.  99.]
teacher_referred_count:[ nan   0.   6.   1.   2.   3.   4.   7.   5.   8.  10.  16.  15.  46.
  11.  13.  47.   9.  21.  27.  14.  36.  28.  12.  20.  19.  18.  17.
  25.  29. 108.  26.  51.  31.  22.  24.  35.  37.  23.  34.  78.  33.
  30.  48.  40.  39. 105.  49.  32.  58.  44.  62.  50.  45.  56.  66.
  41.  43.  76.  64.  60. 151.  83.  52.  63.  42.  73.  59.  65.  38.
  87.  54.  95.  71. 125. 101.  72.  85.  57.  61.  96.  89.]
non_teacher_referred_count:[ nan   7.   3.   1.   2.  10.   4.   5.  11.  42.  13.   8.  38.  18.
   9.  28.   6.  20.  12.  17.  22.  29.  36.  39.  23.  25.  27.  19.
  16.   0.  14.  21.  60.  40.  31.  15.  24.  44.  63.  30.  26.  34.
  48.  70.  33.  53.  46.  45.  49.  37.  35.  86. 101.  50.  52.  88.
  41.  32.  62. 131.  56.  71.  59.  47.  82.  43.  66.  51.  74.  58.
  61.  57.  67.  69.  54.  73.  55.  64.  80.  65. 128. 139.  77. 147.
 121. 103. 107.  79.  72.  90.  75.  78.  84.  68.  81. 129.  85. 256.
  87. 108. 156. 158.  76.  92. 117.  83. 304.  93. 157.  89.  98. 111.
 138.  99. 118. 136. 106. 208. 100. 161. 130.  97. 170.  91. 125. 112.
 237. 132. 178. 126. 114.  95.  96. 162. 228.]

In [22]:
df2.columns

Index(['projectid', 'is_exciting', 'at_least_1_teacher_referred_donor',
       'fully_funded', 'at_least_1_green_donation', 'great_chat',
       'three_or_more_non_teacher_referred_donors',
       'one_non_teacher_referred_donor_giving_100_plus',
       'donation_from_thoughtful_donor', 'great_messages_proportion',
       'teacher_referred_count', 'non_teacher_referred_count'],
      dtype='object')

In [23]:
data3 = df2[['projectid', 'is_exciting', 'at_least_1_teacher_referred_donor',
       'fully_funded', 'at_least_1_green_donation', 'great_chat']]

In [24]:
data3.duplicated().sum()

0

In [25]:
data3 = data3.drop_duplicates(subset = ['projectid'])

In [26]:
df3 = pd.read_csv("projects.csv")
df3.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,Books,highest poverty,Grades 6-8,30.0,555.81,653.89,32.0,f,f,2014-05-12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,4.837020e+11,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,Books,highest poverty,Grades PreK-2,30.0,296.47,348.79,22.0,f,f,2014-05-12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017.0,rural,...,Technology,high poverty,Grades PreK-2,30.0,430.89,506.93,17.0,f,f,2014-05-11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,3.600153e+11,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,Books,highest poverty,Grades 3-5,30.0,576.07,677.73,12.0,f,f,2014-05-11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,6.227100e+10,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,Other,highest poverty,Grades PreK-2,30.0,408.40,480.47,24.0,f,f,2014-05-11

In [27]:
df3.shape

(664098, 35)

In [28]:
for col in df3.columns:
    print(f'{col}:{df3[col].unique()[:10]}')

projectid:['316ed8fb3b81402ff6ac8f721bb31192' '90de744e368a7e4883223ca49318ae30'
 '32943bb1063267de6ed19fc0ceb4b9a7' 'bb18f409abda2f264d5acda8cab577a9'
 '24761b686e18e5eace634607acbcc19f' 'eac7d156205f1333de3887d656f46611'
 '5a3bfdf2e05781ccd0654dee0d51d1cd' 'afda16eb54d8992db7bb42923b2a0c69'
 '2ab3efb23acc84017cd7896f62c2e889' '3118962680bb062323c3566197487315']
teacher_acctid:['42d43fa6f37314365d08692e08680973' '864eb466462bf704bf7a16a585ef296a'
 '37f85135259ece793213aca9d8765542' '2133fc46f951f1e7d60645b0f9e48a6c'
 '867ff478a63f5457eaf41049536c47cd' 'ff064802c18e68db7ddb7ea0bf7732e8'
 '085794a9e315b88cb7aec548831572f5' '1d94a31c2dc38d51350eb26a4a2d892c'
 '5a497c425e05bb193564ef3ce2cbf3b6' 'eb0855cc6ea55d173ca8f8e4fd6a9e18']
schoolid:['c0e6ce89b244764085691a1b8e28cb81' 'd711e47810900c96f26a5d0be30c446d'
 '665c3613013ba0a66e3a2a26b89f1b68' '4f12c3fa0c1cce823c7ba1df57e90ccb'
 '10179fd362d7b8cf0e89baa1ca3025bb' '929336e5a242d2e67f1a591196ba7701'
 'dc34b021fd177cfdb22f22055ca9d04f' '86fff7caa07e4f595a716d8a1960f09e'
 'ed170a147cd8ee2391b54b2f8b206160' '71b4dee33799c2111773bb4444766bf0']
school_ncesid:[6.36270062e+10 4.83702008e+11 4.10327000e+11 3.60015303e+11
 6.22710032e+10 4.01870011e+10 1.00600003e+10 1.30129001e+11
 2.61200001e+11 3.40264001e+11]
school_latitude:[36.57634  32.911179 45.166039 40.641727 34.043939 33.298792 32.838778
 33.896013 42.422054 39.951767]
school_longitude:[-119.608713  -96.72364  -122.414576  -73.965655 -118.288371 -111.827793
  -85.517527  -84.554213  -83.209656  -75.117188]
school_city:['Selma' 'Dallas' 'Colton' 'Brooklyn' 'Los Angeles' 'Chandler' 'Lafayette'
 'Marietta' 'Detroit' 'Camden']
school_state:['CA' 'TX' 'OR' 'NY' 'AZ' 'AL' 'GA' 'MI' 'NJ' 'NC']
school_zip:[93662. 75243. 97017. 11226. 90006. 85225. 36862. 30060. 48235.  8102.]
school_metro:[nan 'urban' 'rural' 'suburban']
school_district:['Selma Unified Sch District' 'Richardson Ind School District'
 'Colton School District 53' 'New York City Dept Of Ed'
 'Los Angeles Unif Sch Dist' 'Chandler Unif School Dist 80'
 'Chambers Co School District' 'Cobb Co School District'
 'Detroit Public School District' 'Camden City School District']
school_county:['Fresno' 'Dallas' 'Clackamas' 'Kings (Brooklyn)' 'Los Angeles' 'Maricopa'
 'Chambers' 'Cobb' 'Wayne' 'Camden']
school_charter:['f' 't']
school_magnet:['f' 't']
school_year_round:['f' 't']
school_nlns:['f' 't']
school_kipp:['f' 't']
school_charter_ready_promise:['f' 't']
teacher_prefix:['Mrs.' 'Mr.' 'Ms.' nan 'Dr.' 'Mr. & Mrs.']
teacher_teach_for_america:['f' 't']
teacher_ny_teaching_fellow:['f' 't']
primary_focus_subject:['Literature & Writing' 'Literacy' 'Social Sciences' 'Mathematics'
 'Gym & Fitness' 'College & Career Prep' 'Special Needs'
 'Applied Sciences' 'Environmental Science' 'ESL']
primary_focus_area:['Literacy & Language' 'History & Civics' 'Math & Science'
 'Health & Sports' 'Applied Learning' 'Special Needs' 'Music & The Arts'
 nan]
secondary_focus_subject:['College & Career Prep' 'ESL' 'Mathematics' 'Special Needs' 'Literacy'
 nan 'Social Sciences' 'Health & Life Science' 'Parent Involvement'
 'Early Development']
secondary_focus_area:['Applied Learning' 'Literacy & Language' 'Math & Science' 'Special Needs'
 nan 'History & Civics' 'Music & The Arts' 'Health & Sports']
resource_type:['Books' 'Technology' 'Other' 'Supplies' 'Visitors' 'Trips' nan]
poverty_level:['highest poverty' 'high poverty' 'moderate poverty' 'low poverty']
grade_level:['Grades 6-8' 'Grades PreK-2' 'Grades 3-5' 'Grades 9-12' nan]
fulfillment_labor_materials:[30. 35.  9. 17. nan]
total_price_excluding_optional_support:[ 555.81  296.47  430.89  576.07  408.4   750.92 2291.48  459.36  325.39
  567.84]
total_price_including_optional_support:[ 653.89  348.79  506.93  677.73  480.47  883.44 2695.86  540.42  382.81
  668.05]
students_reached:[ 32.  22.  17.  12.  24.  20. 320.  18.  25.  28.]
eligible_double_your_impact_match:['f' 't']
eligible_almost_home_match:['f' 't']
date_posted:['2014-05-12' '2014-05-11' '2014-05-10' '2014-05-09' '2014-05-08'
 '2014-05-07' '2014-05-06' '2014-05-05' '2014-05-04' '2014-05-03']

In [29]:
df3.columns

Index(['projectid', 'teacher_acctid', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro', 'school_district', 'school_county',
       'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
       'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted'],
      dtype='object')

In [30]:
data4 = df3[['projectid','school_city', 'school_state',
       'school_zip','schoolid','school_charter','teacher_teach_for_america','primary_focus_subject','resource_type',
       'poverty_level', 'grade_level','students_reached','date_posted']]

In [31]:
data4.duplicated().sum()

0

In [32]:
data4 = data4.drop_duplicates(subset = ['projectid'])

In [33]:
df4 = pd.read_csv("resources.csv")
df4.head()

,resourceid,projectid,vendorid,vendor_name,project_resource_type,item_name,item_number,item_unit_price,item_quantity
0,8a1c1c45bc30d065061912fd9114fcf3,ffffc4f85b60efc5b52347df489d0238,430.0,Woodwind and Brasswind,Technology,iPod nano 4th Gen 8GB (Black),249995.001,149.00,4.0
1,015d2c4935c50427964a12dc3f584091,ffffac55ee02a49d1abc87ba6fc61135,82.0,Best Buy for Business,Technology,Sony bloggie MHS-FS1 - camcorder - internal fl...,BB11216668,148.00,1.0
2,26a02944b2f0c25f9abdeacca3ede3ee,ffff97ed93720407d70a2787475932b0,767.0,Lakeshore Learning Materials,Supplies,VX748 - Best-Buy Jumbo Crayons - 12-Color Box,VX748,69.95,1.0
3,7fef1f92cb4447d18d599f69ea27e833,ffff97ed93720407d70a2787475932b0,767.0,Lakeshore Learning Materials,Supplies,LA138 - Best-Buy Write & Wipe Broad-Tip Marker...,LA138,34.95,1.0
4,8dccf77df25ee615bb1a68b98ba9d861,ffff97ed93720407d70a2787475932b0,767.0,Lakeshore Learning Materials,Supplies,BJ7471 - 1 1/2&#34; Ruled Chart Tablet,BJ7471,10.95,4.0

In [34]:
df4.shape

(3667217, 9)

In [35]:
for col in df4.columns:
    print(f'{col}:{df4[col].unique()[:5]}')

resourceid:['8a1c1c45bc30d065061912fd9114fcf3' '015d2c4935c50427964a12dc3f584091'
 '26a02944b2f0c25f9abdeacca3ede3ee' '7fef1f92cb4447d18d599f69ea27e833'
 '8dccf77df25ee615bb1a68b98ba9d861']
projectid:['ffffc4f85b60efc5b52347df489d0238' 'ffffac55ee02a49d1abc87ba6fc61135'
 'ffff97ed93720407d70a2787475932b0' 'ffff7266778f71242675416e600b94e1'
 'ffff418bb42fad24347527ad96100f81']
vendorid:[430.  82. 767.  47. 773.]
vendor_name:['Woodwind and Brasswind' 'Best Buy for Business'
 'Lakeshore Learning Materials' 'Scholastic Classroom Magazines'
 'School Specialty']
project_resource_type:['Technology' 'Supplies' 'Other' 'Books' 'Trips']
item_name:['iPod nano 4th Gen 8GB (Black)'
 'Sony bloggie MHS-FS1 - camcorder - internal flash memory'
 'VX748 - Best-Buy Jumbo Crayons - 12-Color Box'
 'LA138 - Best-Buy Write & Wipe Broad-Tip Markers - Class Pack'
 'BJ7471 - 1 1/2&#34; Ruled Chart Tablet']
item_number:['249995.001' 'BB11216668' 'VX748' 'LA138' 'BJ7471']
item_unit_price:[149.   148.    69.95  34.95  10.95]
item_quantity:[ 4.  1.  2.  3. 25.]

In [36]:
data5 = df4.drop(['resourceid','vendor_name','item_name'], axis = 1)

In [37]:
data5.duplicated().sum()

32205

In [38]:
data5 = data5.drop_duplicates()

In [39]:
data5 = data5.drop_duplicates(subset = ['projectid'])

In [40]:
ml_file = data1.merge(data2, on = 'projectid', how = 'inner').merge(data3, on = 'projectid', how = 'inner').merge(data4, on = 'projectid', how = 'inner').merge(data5, on = 'projectid', how = 'inner')

In [41]:
ml_file.shape

(524949, 34)

In [42]:
ml_file.head()

,projectid,donor_city,donor_state,donation_to_project,donation_optional_support,donation_total,donation_message,teacher_acctid,title,short_description,...,resource_type,poverty_level,grade_level,students_reached,date_posted,vendorid,project_resource_type,item_number,item_unit_price,item_quantity
0,ffffac55ee02a49d1abc87ba6fc61135,Peachtree City,GA,42.50,7.50,50.0,I gave to this project because I support the e...,947066d0af47e0566f334566553dd6a6,Recording Rockin' Readers,Can you imagine having to translate everything...,...,Technology,highest poverty,Grades PreK-2,8.0,2011-06-11,82.0,Technology,BB11216668,148.00,1.0
1,ffff97ed93720407d70a2787475932b0,NaN,NY,212.50,37.50,250.0,I gave to this project because I am helping MC...,462270f5d5c212162fcab11afa2623cb,Kindergarten In Need of Important Materials!,It takes a special person to donate to a group...,...,Supplies,highest poverty,Grades PreK-2,25.0,2010-09-11,767.0,Supplies,VX748,69.95,1.0
2,ffff418bb42fad24347527ad96100f81,NaN,TX,20.50,4.50,25.0,I gave to this project because this school is ...,e885fb002a1d0d39aaed9d21a7683549,Whistle While We Work!,"By using the cross curricular games requested,...",...,Supplies,low poverty,Grades 3-5,20.0,2009-04-03,773.0,Supplies,1283493030,694.98,1.0
3,ffff2d9c769c8fb5335e949c615425eb,NaN,ID,58.65,10.35,69.0,Education is the most important thing in the w...,485784e52a4c85ea6783285d09d8aea4,Too Close for Comfort,Have you ever had to crowd around an iPad scre...,...,Technology,high poverty,Grades 3-5,25.0,2013-03-03,82.0,Technology,BB12424888,499.99,1.0
4,fffeebf4827d745aa36b17c2d38d1966,NaN,CA,797.30,140.70,938.0,Chevron is committed to securing America's fut...,96c1a33b4f2b832595c3c6a01bc24c05,Toot Your Flute!,The rewards of playing a musical instrument is...,...,Other,highest poverty,Grades 6-8,11.0,2012-12-01,430.0,Other,400280,59.99,1.0

In [43]:
ml_file.to_csv('finalml_file.csv')